<div class="topic-content-view">
  <article class="topic-content-view__topic">
    <header class="topic-content-view__header">
      <h1 class="topic-content-view__title">{{@model.title}}</h1>

      <div class="topic-content-view__meta">
        {{#if @model.category_name}}
          <span class="topic-content-view__category">{{@model.category_name}}</span>
        {{/if}}

        {{#if @model.tags.length}}
          <span class="topic-content-view__tags">
            {{#each @model.tags as |tag|}}
              <span class="topic-content-view__tag">{{tag}}</span>
            {{/each}}
          </span>
        {{/if}}
      </div>
    </header>

    <section class="topic-content-view__body">
      <div class="cooked">
        {{html-safe @model.cooked}}
      </div>
    </section>
  </article>
</div>
